<div class="container edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row justify-content-md-center">
    <div class="col-4 move-to">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="avatar">
          <% if current_user.image.attached?  %>
            <%= image_tag(current_user.image, size: '175') %>
          <% elsif current_user.image_url.present? %>
            <%= image_tag(current_user.image_url, size:'175')%>
          <% else %>
            <%= image_tag('https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg', size:'175')%>
          <% end %>
      </div>
      <div class="field">
        <%= f.label :image, "Cambiar avatar", class:"btn btn-add2"%>
        <%= f.file_field :image, type:"file", class:"custom-file-input" %>
      </div>
    </div>
        <div class="col-8 down-col">
          <div class="field">
            <%= f.text_field :nick,  class:"form-inline", placeholder:"Nick", type:"imput" %>
          </div>
          <div class="field">
            <% if @minimum_password_length %>
            <p class="new-password-text">  <em> *La nueva contraseña debe tener al menos <%= @minimum_password_length %> caracteres</em> </p>

              <%= f.password_field :password, autocomplete: "new-password", placeholder:"Cambiar Contraseña" %>
            <% end %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"Confirmar nueva Contraseña" %>
          </div>
       </div>
    </div>
    <hr class="hr">
    <div class="row">
      <div class="col-9">
        <div class="field-up">
          <%= f.password_field :current_password, autocomplete: "current-password", type:"password", placeholder:"Contraseña Actual" %>
        </div>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="col-3">
        <div class="actions">
          <%= f.submit "Actualizar", class:"btn btn-update" %>
        </div>
      <% end %>
      </div>
      <p class="text-update">*Para guardar los cambios ingresa tu contraseña actual y presiona actualizar</p><br />
    </div>

  <hr class="hr-bottom">
  <div class="row">
    <div class="col">
      <div class="back-update">
        <%= link_to "Back", :back, class: "linknew-up" %>
      </div>
   </div>
   <div class="col">
     <div class="account-cancel">
       <%= link_to "¿Quieres cancelar tu cuenta?", registration_path(resource_name), data: { confirm: "¿Estas seguro que quieres cancelar tu cuenta?" }, method: :delete, class: "linknew-delete" %>
     </div>
   </div>
</div>
