<div class="container registrations">
  <h2>Registro</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"imput", placeholder:"Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password",type:"password", placeholder:"Password (6 characters minimum)" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", type:"password", placeholder:"Password confirmation" %>
        </div>
        <br>
     </div>
     <div class="col">
        <div class="field">
          <%= f.text_field :nick, class:"form-inline", placeholder:"Nick", type:"imput" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :image, "Añadir avatar", class:"btn btn-add"%>
          <%= f.file_field :image, type:"file", class:"custom-file-input" %>
        </div>
         <br>

    </div>

  </div>
  <div class="actions">
    <%= f.submit "Registrarse", class:"btn btn-sign" %>
  </div>
  <% end %>
  <hr class="hr-fb-reg">
  <div class="fb-reg">
      <%= link_to "Regístrate con Facebook", user_facebook_omniauth_authorize_path, method: :post, class:"btn reg-fb" %>
  </div>
</div>
