<%= form_with(model: tournament, local: true) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col">
    <div class="field">
      <%= form.text_field :title, type:"imput", placeholder:"Titulo"%>
    </div>

    <div class="field">
      <%= form.text_field :map, type:"imput", placeholder:"Mapa"%>
    </div>

    <div class="field">
      <%= form.text_field :value, type:"imput", placeholder:"Valor" %>
    </div>
  </div>
  <div class="col">
    <div class="field">
      <%= form.text_field :price, type:"imput", placeholder:"Premio" %>
    </div>

    <div class="field">
      <%= form.text_field :modality, type:"imput", placeholder:"Modalidad" %>
    </div>
  </div>
 </div>
  <div class="field">
    <%= form.rich_text_area :content, placeholder:"Escribe el texto aquí" %>
  </div>

  <div class="actions">
    <%= form.submit "Publicar", class:"btn btn-tournament" %>
  </div>
<% end %>
<div class="links1">
  <%= link_to 'Back', tournaments_path,  class: "linknew" %>
</div>
