<div class="row mt-2">
  <div class="col-lg-4 offset-lg-8 mb-5">
    <% if can? :create, Tournament %>
      <%= link_to 'Nuevo Torneo', new_tournament_path, class:"btn btn-new mb-3"%>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-lg-6 col-sm-12 top-margin-tournament">
       <% @tournaments.reverse_each do |tournament| %>
        <div class="card tournament-card">
          <img src="https://i.imgur.com/ORoxMvn.png" class="card-img-top" alt="...">
            <div class="card tournament-body">
                <h2 class="card-title"> <%= tournament.title %>: <span class="orange"><%= tournament.modality%></span></h2>
                <hr class="card-hr">
                <div class="all-numbers">
                  <div class="row price">
                    <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="text-block1">
                        <h4 class="card-text"><span class="orange"><i class="fas fa-wallet"></i> Precio entrada </span></h4>
                         <p class="price"><%= number_to_currency(tournament.value , precision: 0)%></p>
                      </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="text-block2">
                        <h4 class="card-text2"><span class="orange"><i class="fas fa-trophy"></i> Premio a repartir </span></h4>
                        <p class="price"><%= number_to_currency(tournament.price , precision: 0)%></p>
                      </div>
                    </div>
                  </div>
                  <hr class="card-hr">
                  <div class="content">
                    <p class="card-text mt-3 tournent-content-color"><%= tournament.content%></p>
                  </div>
                  <hr class="card-hr">
                  <h5 class="card-text"> Mapa :  <span class="orange"><%= tournament.map %></span> </h5>
                  <p class="card-text"><small class="text-muted date-tournament float-right"><%= tournament.created_at.to_date%></small></p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-5 offset-sm-7 col-md-4 offset-md-8 col-lg-6 offset-lg-6 col-xl-6 offset-xl-6">
            <div class="btn-group float-right">
              <% if can? :create, Tournament %>
                 <p><%= link_to 'Editar', edit_tournament_path(tournament) , class:"btn btn-edit-tournament"  %>
               <%= link_to 'Eliminar', tournament, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-destroy-tournament"  %></p>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
