<div class="row mt-2">
  <div class="col-md-2 col-lg-9 ">
  </div>
  <div class="col-md-5 col-lg-3 mb-4">
    <% if can? :create, Tournament %>
      <%= link_to 'Nuevo Torneo', new_tournament_path, class:"btn btn-news mb-3 "%>
    <% end %>
  </div>
</div>
<div class="row tournament-row">
  <div class="col-3">
  </div>
  <div class="col-lg-6 col-sm-12">
       <% @tournaments.reverse_each do |tournament| %>
        <div class="card tournament-card">
          <img src="https://i.imgur.com/ORoxMvn.png" class="card-img-top" alt="...">
            <div class="card tournament-body">
                <h2 class="card-title"> <%= tournament.title %>: <span class="orange"><%= tournament.modality%></span></h2>
                <hr class="card-hr">
                <div class="all-numbers">
                  <div class="row price">
                    <div class="col-5 text-block1">
                      <h4 class="card-text"><span class="orange"><i class="fas fa-wallet"></i> Precio entrada </span></h4>
                       <p class="price"><%= number_to_currency(tournament.value , precision: 0)%></p>
                    </div>
                    <div class="col-5 text-block2">
                      <h4 class="card-text"><span class="orange"><i class="fas fa-trophy"></i> Premio a repartir </span></h4>
                      <p class="price"><%= number_to_currency(tournament.price , precision: 0)%></p>
                    </div>
                  </div>
                  <hr class="card-hr">
                  <div class="content">
                    <p class="card-text mt-3 tournent-content-color"><%= tournament.content%></p>
                  </div>
                  <hr class="card-hr">
                  <h5 class="card-text"> Mapa :  <span class="orange"><%= tournament.map %></span> </h5>
                  <p class="card-text"><small class="text-muted float-right"><%= tournament.created_at.to_date%></small></p>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-8 col-lg-8 ">
          </div>
          <div class="col-sm-4 col-lg-4 btn-group">
           <% if can? :create, Tournament %>
              <p><%= link_to 'Editar', edit_tournament_path(tournament) , class:"btn btn-edit-tournament"  %>
            <%= link_to 'Eliminar', tournament, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-destroy-tournament"  %></p>
           <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
