<div class="jumbotron heading-jumbo">
    <!-- main navbar -->

  <div class="dropdown float-right">
  <a class="btn btn-signin dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <% if user_signed_in?%>
      <%= truncate(current_user.nick, length: 15)%>
    <% else %>
      Ingreso
    <% end %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink select">
      <% if user_signed_in? %>
      <%= link_to "Mi Perfil",  edit_user_registration_path, class:"dropdown-item" %>
       <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
     <% else %>
       <%= link_to "Ingreso", new_user_session_path, class:"dropdown-item" %>
       <%= link_to "Registro", new_user_registration_path, class:"dropdown-item" %>
     <% end %>
  </div>
</div>

    <!-- jumbotron content presentation -->

    <div class=" heading-text-container">
      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <p class=""> <strong>Chile AOE</strong> es una comunidad formada por jugadores de Age of Empire con más de 15 años de experiencia, siendo uno de los más antiguos en Chile.</p>
        </div>
      </div>
    </div>

</div>
