<div class="jumbotron heading-jumbo">
  <div class="bla">
    <!-- main navbar -->
    <nav class="navbar navbar-expand-lg">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">

        </ul>
      </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav1" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if user_signed_in?%>
                <%=current_user.nick%>
              <% else %>
                Ingreso
              <% end %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% if user_signed_in? %>
               <%= link_to "Mi Perfil",  edit_user_registration_path, class:"dropdown-item" %>
                <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
              <% else %>
                <%= link_to "Ingreso", new_user_session_path, class:"dropdown-item" %>
                <%= link_to "Registro", new_user_registration_path, class:"dropdown-item" %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- jumbotron content presentation -->

    <div class=" heading-text-container">
      <p class="main-bio">  <strong>Chile AOE es una comunidad formada por jugadores de Age of Empire con más de 15 años de experiencia, siendo uno de los más antiguos en Chile.</strong>  Esta Comunidad busca informar, organizar e intruir sobre este gran juego.</p>
    </div>
  </div>
</div>
