<%= form_with(model: clan, local: true) do |form| %>
  <% if clan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clan.errors.count, "error") %> prohibited this clan from being saved:</h2>

      <ul>
        <% clan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :avatar, type:"imput3", placeholder:"Inserta el link de la imagen" %>
  </div>

  <div class="field">
    <%= form.text_field :name, type:"imput3", placeholder:"Nombre del Clan"%>
  </div>

  <div class="field">
    <%= form.text_field :link, type:"imput3", placeholder:"Sitio web" %>
  </div>

  <div class="actions d-flex justify-content-center">
    <%= form.submit "Agregar", class:"btn btn-clans" %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to 'Back', clans_path,  class: "linknew" %>
  </div>

<% end %>
