<p id="notice"><%= notice %></p>

<h1>Clans</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clans.each do |clan| %>
      <tr>
        <td><%= clan.avatar %></td>
        <td><%= clan.name %></td>
        <td><%= clan.link %></td>
        <td><%= link_to 'Show', clan %></td>
        <td><%= link_to 'Edit', edit_clan_path(clan) %></td>
        <td><%= link_to 'Destroy', clan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clan', new_clan_path %>
