<div class="row mt-2 clans-row ">
  <div class="col-lg-4 offset-lg-8">
    <%= link_to 'Nuevo Clan', new_clan_path, class:"btn btn-new-clans" %>
  </div>
</div>
<div class="table-responsive-xl padding-table top-margin-news">
  <table id="clans-table">
      <tr>
        <th scope="col">Avatar Image</th>
        <th scope="col">Avatar Link</th>
        <th scope="col">Name</th>
        <th scope="col">Link</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      <% @clans.each do |clan| %>
        <tr>
            <td><%= image_tag(clan.avatar, size:'40', style:'border-radius: 50%')  %></td>
            <td><%= clan.avatar %></td>
            <td><%= clan.name %></td>
            <td><%= clan.link %></td>
            <td><%= link_to 'Editar', edit_clan_path(clan), class:" btn btn-edit-clans" %></td>
            <td><%= link_to 'Eliminar', clan, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"btn btn-destroy-clans" %></td>
        </tr>
      <% end %>
  </table>
</div>
