<div class="row mt-2">
    <div class="col-md-4 col-lg-3">
        <%#------------- Foros --------------------------------%>
        <div class="card mt-3 forum-card">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fas fa-comments"></i> Foros
            </div>
              <div class="card card-forum-home">
                <% ForumCategory.order("created_at").each do |category| %>
                    <div class="home-forum-categories">
                        <%= forum_link_to simple_discussion.forum_category_forum_threads_path(category) do %>
                            <%= icon "circle", style: "color: #{category.color}" %>
                            <span class="forum-name-category"><%= category.name %></span>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <%#------------- Clans --------------------------------%>
        <div class="down">
          <div class="card mt-3 clans-card">
              <div class="card-header text-center clans-card-head" style="font-size: 1.4rem;">
                  <i class="fas fa-fist-raised"></i> Clanes Asociados
              </div>
              <div class="card-clans-home">
                <% @clans.each do |clans| %>
                    <a href="<%= clans.link %>" class="ml-3 mb-2 mt-2 link-clans-home" style="color: white">
                        <%= image_tag(clans.avatar, size:'40', style:'border-radius: 50%', class:'image-clans-home')%>
                        <span class="name-clans-home"><%= clans.name %></span>
                    </a>
                    <br>
                <% end %>
              </div>
          </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6 mt-3 ">
        <%#------------- Tournaments --------------------------------%>
    <% @tournaments.reverse_each do |tournament| %>
        <div class="card tournament-card">
          <img src="https://i.imgur.com/ORoxMvn.png" class="card-img-top" alt="...">
            <div class="card tournament-body">
                <h2 class="card-title"> <%= tournament.title %>: <span class="orange"><%= tournament.modality%></span></h2>
                <hr class="card-hr">
                <div class="all-numbers">
                  <div class="row price">
                    <div class="col-5 text-block1">
                      <h4 class="card-text"><span class="orange"><i class="fas fa-wallet"></i> Precio entrada </span></h4>
                       <p class="price"><%= number_to_currency(tournament.value , precision: 0)%></p>
                    </div>
                    <div class="col-5 text-block2">
                      <h4 class="card-text"><span class="orange"><i class="fas fa-trophy"></i> Premio a repartir </span></h4>
                      <p class="price"><%= number_to_currency(tournament.price , precision: 0)%></p>
                    </div>
                  </div>
                  <hr class="card-hr">
                  <div class="content">
                    <p class="card-text mt-3 tournent-content-color"><%= tournament.content%></p>
                  </div>
                  <hr class="card-hr">
                  <h5 class="card-text"> Mapa :  <span class="orange"><%= tournament.map %></span> </h5>
                  <p class="card-text mt-2"><small class="text-muted date-tournament float-right"><%= tournament.created_at.to_date%></small></p>
              </div>
            </div>
        </div>
        <div class="btn-group">
        </div>
     <% end %>

        <%#------------- News --------------------------------%>
        <% @news.reverse_each do |news| %>
            <div class="card news-card">
              <img src="https://i.imgur.com/7OO5p0O.png" class="card-img-top" alt="...">
                <div class="card card-news">
                  <h4 class="card-title title-h4"><%= news.title %></h4>
                  <hr class="hr-news-cards">
                  <p class="card-text-1"><%= news.content%></p>
                  <hr class="hr-news-cards">
                  <p class="card-text"><small class="text-muted float-right"><%= news.created_at.to_date%></small></p>
                </div>
            </div>
          <div class="btn-group">
          </div>
        <% end %>
    </div>
    <div class="col">
      <%#------------- Twitch --------------------------------%>
        <div class="card mt-3 twitch-card float-left"  style="width: 18rem; margin-left: 2.5rem;">
            <div class="card-header text-center twitch-card-head " style="font-size: 1.4rem;">
                <i class="fab fa-twitch"></i> Twitch
            </div>
            <div class="card card-twitch-home">
                <% @twitches.each do |twitch| %>
                    <div class="row ml-4 mb-4 mt-2" style="position: relative">
					    <a href="<%= twitch.url %>" target="_blank">
							<img class="image-twitch-index" src="https://i.imgur.com/1jDJelo.jpg" style="width: 80%">
						</a>
                        <div style="position: absolute; top: -10px; left: 28px; width: 60%; text-align: center;">
                            <span style=" border-radius: 3px; background-color: #3D4148; padding: 3px 6px; border: medium solid #111; color: #E7A70F; font-size: 1.2rem;">
                                <%= twitch.owner %>
                            </span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
