<div class="row">
    <div class="col-3">
        <%#------------- Foros --------------------------------%>
        <div class="card mt-3 ml-5 twitch-card" style="width: 17rem;">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fas fa-comments"></i> Foros
            </div>
              <div class="card-body">
                <a href="/forum/threads"><i class="fa fa-circle"></i> All</a><br>
                <a href="/forum/threads/category/general"><i style="color: #4ea1d3" class="fa fa-circle"></i>General</a><br>
                <a href="/forum/threads/category/torneos"><i style="color: #eaf514" class="fa fa-circle"></i>Torneos</a><br>
                <a href="/forum/threads/category/tutoriales"><i style="color: #14f532" class="fa fa-circle"></i>Tutoriales</a>
            </div>
        </div>
        <%#------------- Clans --------------------------------%>
        <div class="card mt-3 ml-5 twitch-card" style="width: 17rem;">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fas fa-fist-raised"></i> Clanes Asociados
            </div>
            <% @clans.each do |clans| %>
                <a href="<%= clans.link %>" class="ml-3 mb-2 mt-2" >
                    <%= image_tag(clans.avatar, size:'25', style:'border-radius: 50%')%>
                    <%= clans.name %>
				</a>   
            <% end %>
        </div>
    </div>
    
    <div class="col-6">
        <%#------------- Tournaments --------------------------------%>
        <% @tournaments.each do |tournament| %>
            <div class="card mt-3" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= tournament.title %></h5>
                    <h5 class="card-title">Mapa: <%= tournament.map %></h5>
                    <h5 class="card-title">Modalidad: <%= tournament.modality %></h5>
                    <p class="card-text"><%= tournament.content%></p>
                    <%# <div class="card-footer text-muted"> %>
                        <%# <%= time_ago_in_words(tournament.created_at) %> 
                    <%# </div> %>
                </div>
            </div>
        <% end %>
        <%#------------- News --------------------------------%>
        <% @news.each do |news| %>
            <div class="card mt-3" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= news.title %></h5>
                    <p class="card-text"><%= news.content%></p>
                    <%# <div class="card-footer text-muted"> %>
                        <%# <%= time_ago_in_words(news.created_at) %>
                    <%# </div> %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-3">
        <div class="card mt-3 twitch-card" style="width: 17rem;">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fab fa-twitch"></i> Twitch
            </div>
            <div class="card-body">
                <% @twitches.each do |twitch| %>
                    <div class="row ml-4 mb-4 mt-2" style="position: relative">
					    <a href="<%= twitch.url %>" target="_blank">
							<img src="https://i.imgur.com/1jDJelo.jpg" style="width: 80%">
						</a>
                        <div style="position: absolute; top: -10px; left: 20px; width: 60%; text-align: center;">
                            <span style=" border-radius: 3px; background-color: #3D4148; padding: 3px 6px; border: 1px solid white; color: #E7A70F; font-size: 1.2rem;">
                                <%= twitch.owner %>
                            </span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>