<div class="row mt-5">
    <div class="col-3">
        <%#------------- Foros --------------------------------%>
        <div class="card mt-3 twitch-card" style="width: 17rem;">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fas fa-comments"></i> Foros
            </div>
              <div class="card-body">
                <% ForumCategory.order("created_at").each do |category| %>
                    <div>
                        <%= forum_link_to simple_discussion.forum_category_forum_threads_path(category) do %>
                            <%= icon "circle", style: "color: #{category.color}" %>
                            <%= category.name %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <%#------------- Clans --------------------------------%>
        <div class="card mt-3 twitch-card" style="width: 17rem;">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fas fa-fist-raised"></i> Clanes Asociados
            </div>
            <% @clans.each do |clans| %>
                <a href="<%= clans.link %>" class="ml-3 mb-2 mt-2" style="color: white">
                    <%= image_tag(clans.avatar, size:'25', style:'border-radius: 50%')%>
                    <%= clans.name %>
				</a>
            <% end %>
        </div>
    </div>
    <div class="col-6">
        <%#------------- Tournaments --------------------------------%>
        <% @tournaments.each do |tournament| %>
            <div class="card mb-4 tournament-card">
            <img src="https://i.imgur.com/ORoxMvn.png" class="card-img-top" alt="...">
                <div class="card-body body">
                    <h5 class="card-title"><%= tournament.title %>, <%= tournament.modality%> </h5>
                    <p class="card-text"><%= tournament.content%></p>
                    <p class="card-text"><small class="text-muted float-right"><%= tournament.created_at.to_date%></small></p>
                 </div>
            </div>
        <% end %>

        <%#------------- News --------------------------------%>
        <% @news.each do |news| %>
            <div class="card mb-4 news-card">
            <img src="https://i.imgur.com/7OO5p0O.png" class="card-img-top" alt="...">
                <div class="card-body body">
                    <h5 class="card-title"><%= news.title %></h5>
                    <p class="card-text"><%= news.content%></p>
                    <p class="card-text"><small class="text-muted float-right"><%= news.created_at.to_date%></small></p>
                 </div>
            </div>
        <% end %>
    </div>
    <div class="col-3">
        <div class="card mt-3 twitch-card float-right" style="width: 17rem;">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fab fa-twitch"></i> Twitch
            </div>
            <div class="card-body">
                <% @twitches.each do |twitch| %>
                    <div class="row ml-4 mb-4 mt-2" style="position: relative">
					    <a href="<%= twitch.url %>" target="_blank">
							<img src="https://i.imgur.com/1jDJelo.jpg" style="width: 80%">
						</a>
                        <div style="position: absolute; top: -10px; left: 20px; width: 60%; text-align: center;">
                            <span style=" border-radius: 3px; background-color: #3D4148; padding: 3px 6px; border: 1px solid white; color: #E7A70F; font-size: 1.2rem;">
                                <%= twitch.owner %>
                            </span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
