<div class="row">
    <div class="col-3">
        <div class="card mt-3" style="width: 10rem;">
            <div class="card-header">
                Foros
            </div>
              <div class="card-body">
                <a href="/forum/threads"><i class="fa fa-circle"></i> All</a><br>
                <a href="/forum/threads/category/general"><i style="color: #4ea1d3" class="fa fa-circle"></i>General</a><br>
                <a href="/forum/threads/category/torneos"><i style="color: #eaf514" class="fa fa-circle"></i>Torneos</a><br>
                <a href="/forum/threads/category/tutoriales"><i style="color: #14f532" class="fa fa-circle"></i>Tutoriales</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <%#------------- Tournaments --------------------------------%>
        <% @tournaments.each do |tournament| %>
            <div class="card mt-3" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= tournament.title %></h5>
                    <h5 class="card-title">Mapa: <%= tournament.map %></h5>
                    <h5 class="card-title">Modalidad: <%= tournament.modality %></h5>
                    <p class="card-text"><%= tournament.content.truncate(150)%></p>
                    <%# <div class="card-footer text-muted"> %>
                        <%# <%= time_ago_in_words(tournament.created_at) %> 
                    <%# </div> %>
                </div>
            </div>
        <% end %>
        <%#------------- News --------------------------------%>
        <% @news.each do |news| %>
            <div class="card mt-3" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= news.title %></h5>
                    <p class="card-text"><%= news.content.truncate(150)%></p>
                    <%# <div class="card-footer text-muted"> %>
                        <%# <%= time_ago_in_words(news.created_at) %>
                    <%# </div> %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="col-3">
    </div>
</div>