<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-3">

        <%#------------- Foros --------------------------------%>
        <div class="card forum-card">
            <div class="card-header text-center twitch-card-head" style="font-size: 1.4rem;">
                <i class="fas fa-comments"></i> Foros
            </div>
              <div class="card card-forum-home">
                <% ForumCategory.order("created_at").each do |category| %>
                    <div class="home-forum-categories">
                        <%= forum_link_to simple_discussion.forum_category_forum_threads_path(category) do %>
                            <%= icon "circle", style: "color: #{category.color}" %>
                            <span class="forum-name-category"><%= category.name %></span>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        <%#------------- Clans --------------------------------%>
        <div class="down">
          <div class="card mt-3 clans-card">
              <div class="card-header text-center clans-card-head" style="font-size: 1.4rem;">
                  <i class="fas fa-fist-raised"></i> Clanes Asociados
              </div>
              <div class="card-clans-home">
                <% @clans.each do |clans| %>
                    <a href="<%= clans.link %>" class="ml-3 mb-2 mt-2 link-clans-home" style="color: white">
                        <%= image_tag(clans.avatar, size:'40', style:'border-radius: 50%', class:'image-clans-home')%>
                        <span class="name-clans-home"><%= clans.name %></span>
                    </a>
                    <br>
                <% end %>
              </div>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-6">
        <%#------------- Tournaments --------------------------------%>
    <% @items.reverse_each do |item| %>
      <% if item.class == Tournament %>
          <div class="card tournament-card">
            <img src="https://i.imgur.com/ORoxMvn.png" class="card-img-top" alt="...">
              <div class="card tournament-body">
                  <h2 class="card-title"> <%= item.title %>: <span class="orange"><%= item.modality%></span></h2>
                  <hr class="card-hr">
                  <div class="all-numbers">
                    <div class="row price">
                    <div class="col-sx-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="text-block1">
                        <h4 class="card-text"><span class="orange"><i class="fas fa-wallet"></i> Precio entrada </span></h4>
                        <% if item.free? %>
                         <p class="price">Gratis!</p>
                        <% else %>
                         <p class="price"><%= number_to_currency(item.value , precision: 0)%></p>
                       <% end %>
                      </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="text-block2">
                        <h4 class="card-text2"><span class="orange"><i class="fas fa-trophy"></i> Premio a repartir </span></h4>
                        <% if item.no_price? %>
                          <p class="price"> Honor!</p>
                        <% else %>
                          <p class="price"><%= number_to_currency(item.price , precision: 0)%></p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                    <hr class="card-hr">
                    <div class="content">
                      <p class="card-text mt-3 tournent-content-color"><%= item.content%></p>
                    </div>
                    <hr class="card-hr">
                    <h5 class="card-text"> Mapa :  <span class="orange"><%= item.map %></span> </h5>
                    <p class="card-text mt-2"><small class="text-muted date-tournament float-right"><%= item.created_at.to_date%></small></p>
                </div>
              </div>
          </div>
          <br><br>
      <% end %>
        <%#------------- News --------------------------------%>
        <% if item.class == News %>
            <div class="card news-card">
              <img src="https://i.imgur.com/7OO5p0O.png" class="card-img-top" alt="...">
                <div class="card card-news">
                  <h4 class="card-title title-h4"><%= item.title %></h4>
                  <hr class="hr-news-cards">
                  <p class="card-text-1"><%= item.content%></p>
                  <hr class="hr-news-cards">
                  <p class="card-text"><small class="text-muted float-right"><%= item.created_at.to_date%></small></p>
                </div>
            </div>
          <br><br>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-3 col-xl-3">
      <%#------------- Twitch --------------------------------%>
        <div class="card twitch-card">
            <div class="card-header twitch-card-head" style="font-size: 1.4rem;">
                <i class="fab fa-twitch"></i> Twitch
            </div>
            <div class="card card-twitch-home">
                <% @twitches.each do |twitch| %>
                    <div class="row mb-4 mt-2" style="position: relative">
					            <a href="<%= twitch.url %>" target="_blank">
							        <img class="image-twitch-index" src="<%= twitch.image_twitch %>"></a>
                      <div style="position: absolute; top: -0.8rem; margin-left :2.5rem; width: 65%; text-align: center">
                        <span style=" border-radius: 3px; background-color: #3D4148; padding: 3px 6px; border: medium solid #111; color: #E7A70F; font-size: 1.1rem;">
                          <%= twitch.owner %>
                        </span>
                      </div>
                    </div>
                <% end %>
            </div>
         </div>
    </div>
</div>
