<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-6">
    <% @news.each do |news| %>
        <div class="card">
          <img src="https://i.imgur.com/MfCsLsw.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= news.title %></h5>
              <p class="card-text"><%= news.content%></p>
              <p class="card-text"><small class="text-muted float-right"><%= news.created_at.to_date%></small></p>
            </div>
        </div>
        <p><%= link_to 'Show', news, class:"btn btn-warning" %>
        <%= link_to 'Edit', edit_news_path(news) , class:"btn btn-success"  %>
        <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></p>
    <% end %>

  </div>
  <div class="col-3">
  <%= link_to 'New News', new_news_path, class:"btn btn-info float-right mb-3"%>
  </div>
</div>

