<% if can? :create, News %>
  <div class="row news-row">
    <div class="col-xl-4 offset-xl-8 col-lg-4 offset-lg-8 col-md-10 offset-md-1 col-sm-10 offset-sm-1 mb-4">
        <%= link_to 'Nueva Noticia', new_news_path, class:"btn btn-new-news mb-3"%>
    </div>
  </div>
<% end %>


<div class="row">

  <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-12">
    <% @news.reverse_each do |news| %>
      <div class="card news-card">
        <%=image_tag "news.png", class:"card-img-top" %> 
          <div class="card card-news">
            <h4 class="card-title title-h4"><%= news.title %></h4>
            <hr class="hr-news-cards">
            <p class="card-text-1"><%= news.content%></p>
            <hr class="hr-news-cards">
            <p class="card-text"><small class="text-muted float-right"><%= news.created_at.to_date%></small></p>
          </div>
      </div>


        <div class="row">
          <div class=" col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-6 offset-lg-6 col-xl-6 offset-xl-6">
            <div class="btn-group float-right">
              <% if can? :create, News %>
               <p><%= link_to 'Editar', edit_news_path(news) , class:"btn btn-edit-news"  %>
                <%= link_to 'Eliminar', news, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"btn btn-destroy-news"  %></p>
             <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
