<p id="notice"><%= notice %></p>
<div class="row mt-5">
  <div class="col-3">
  </div>
  <div class="col-6">
    <% @news.each do |news| %>
        <div class="card news-card">
          <img src="https://i.imgur.com/7OO5p0O.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= news.title %></h5>
              <p class="card-text"><%= news.content%></p>
              <p class="card-text"><small class="text-muted float-right"><%= news.created_at.to_date%></small></p>
            </div>
        </div>
        <% if can? :create, News %>
          <%= link_to 'Edit', edit_news_path(news) , class:"btn btn-warning"  %>
          <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></p>
        <% end %>
    <% end %>
  </div>
  <div class="col-3">
  <% if can? :create, News %>
    <%= link_to 'New News', new_news_path, class:"btn btn-info float-right mb-3"%>
  <% end %>
  </div>
</div>
