<p id="notice"><%= notice %></p>
<div class="row mt-5">
  <div class="col-3">
  </div>
  <div class="col-6">
    <% @news.each do |news| %>
        <div class="card news-card">
          <img src="https://i.imgur.com/7OO5p0O.png" class="card-img-top" alt="...">
            <div class="card card-news">
              <h4 class="card-title title-h4"><%= news.title %></h4>
              <hr class="hr-news-cards">
              <p class="card-text-1"><%= news.content%></p>
              <hr class="hr-news-cards">
              <p class="card-text"><small class="text-muted float-right"><%= news.created_at.to_date%></small></p>
            </div>
        </div>
        <% if can? :create, News %>
          <%= link_to 'Edit', edit_news_path(news) , class:"btn btn-edit-news"  %>
          <%= link_to 'Destroy', news, method: :delete, data: { confirm: '¿Estas seguro?' }, class:"btn btn-destroy-news"  %>
        <% end %>
    <% end %>
  </div>
  <div class="col-3">
  <% if can? :create, News %>
    <%= link_to 'Nueva Noticia', new_news_path, class:"btn btn-new-news float-right mb-3"%>
  <% end %>
  </div>
</div>
