<%= cache forum_thread do %>
  <div class=" container-fluid forum-thread">
    <div class="row">
      <div class="col-xs-6 col-md-1 image-forum-posts2">
          <% if forum_thread.user.image.attached?  %>
            <%= image_tag(forum_thread.user.image, size: '75') %>
          <% elsif forum_thread.user.image_url.present? %>
            <%= image_tag(forum_thread.user.image_url, size:'75')%>
          <% else %>
            <%= image_tag('https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg', size:'75')%>
          <% end %>
      </div>
      <div class="col-xs-6 col-md-9 info-post">
          <% if forum_thread.solved? %>
            <span class="text-success"><%= icon "check-circle" %></span>
          <% end %>
        <h4 class="title-forum-post">
          <%= link_to simple_discussion.forum_thread_path(forum_thread) do %>
            <%= icon "thumb-tack", class: "text-muted" if forum_thread.pinned? %> <span class="forum-title"><%= forum_thread.title %></span>
          <% end %>
        </h4>

        <div class="thread-details">
          <strong><%= category_link(forum_thread.forum_category) %></strong>
          <span class="bullet">•</span>
          <span class="time-ago"> <%= forum_thread.created_at.strftime("Publicado el %m/%d/%Y") %> por <%= forum_thread.user.name%></span>
        </div>

        <p class="text-muted content-text"><%= truncate(strip_tags(forum_thread.forum_posts.first.body.to_s),length: 101)  %></p>
      </div>

      <div class="col-sm-2 col-lg-2  text-right count-posts">
        <%= link_to simple_discussion.forum_thread_path(forum_thread), class: "thread-posts-count" do %>
          <span class="count-color"><%= forum_thread.forum_posts_count %></span>
          <small class="count-color"><%= t("post", count: forum_thread.forum_posts_count) %></small>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<hr class="hr-forum-threads">
