<div class="container login">
<h2>Ingreso</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-login">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"imput1", placeholder:"Email" %>
  </div>

  <div class="field-login">
    <%= f.password_field :password, autocomplete: "current-password", type:"password", placeholder:"Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Recordar contraseña" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Ingresar", class:"btn btn-log" %> <br>
    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class:"forgot" %>
  </div>
<% end %>
<hr class="hr-fb">
<div class="fb-log d-flex justify-content-center">
  <%= link_to "Ingresar con Facebook", user_facebook_omniauth_authorize_path, method: :post, class:"btn log-fb" %>
</div>

</div>
