<%= form_with(model: twitch, local: true) do |form| %>
  <% if twitch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twitch.errors.count, "error") %> prohibited this twitch from being saved:</h2>

      <ul>
        <% twitch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :owner, type:"imput4", placeholder:"Nombre del canal" %>
  </div>

  <div class="field">
    <%= form.text_field :url, type:"imput4", placeholder:"Link del canal" %>
  </div>

  <div class="actions">
    <%= form.submit "Agregar", class:"btn btn-twitches" %>
  </div>
  <div class="links">
    <%= link_to 'Back', twitches_path,  class: "linknew" %>
  </div>
<% end %>
