<p id="notice"><%= notice %></p>
<div class="row mt-5">
  <div class="col-3">
  </div>
  <div class="col-6">
    <% @twitches.each do |twitch| %>
      <div class="row ml-4 mb-4 mt-2" style="position: relative">
        <iframe src="https://player.twitch.tv/?channel=<%= twitch.owner %>" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
        <div style="position: absolute; top: -10px; width: 60%; text-align: center;">
          <span style=" border-radius: 3px; background-color: #3D4148; padding: 3px 6px; border: 1px solid white; color: #E7A70F; font-size: 1.2rem;">
            <%= twitch.owner %>
          </span>
        </div>
          <div class="col-2">
          <p><%= link_to 'Show', twitch, class:"btn btn-warning mb-2" %><br>
          <%= link_to 'Edit', edit_twitch_path(twitch), class:"btn btn-success mb-2"  %><br>
          <%= link_to 'Destroy', twitch, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></p>
          </div>
      </div>
    <% end %>

  </div>
  <div class="col-3">
  <%= link_to 'Agregar canal', new_twitch_path, class:"btn btn-info float-right mb-3"%>
  </div>
</div>

