<div class="row col-md-12 titulo">
  <h1>Foro AOE</h1>
</div>
<div class="row simple_discussion">
  <div class="col-md-3 mb-3">
    <div class="card card-body card-side ">
      <%= link_to t('Nuevo Post'), simple_discussion.new_forum_thread_path, class: "btn btn-block" %>

      <div class="forum-thread-filters">
        <h5>
          <strong>
            <%= t('Filtrar por') %>
          </strong>
        </h5>
        <% if user_signed_in? %>
          <div class="menu-items">
           <%= forum_link_to simple_discussion.mine_forum_threads_path do %>
              <p><%= icon "user-circle-o" %> <%= t('.my_questions') %></p>
            <% end %>
          </div>
          <div class="menu-items">
            <%= forum_link_to simple_discussion.participating_forum_threads_path do %>
              <p><%= icon "comments-o" %> <%= t('.participating') %></p>
            <% end %>
          </div>
        <% end %>
        <div class="menu-items">
          <%= forum_link_to simple_discussion.answered_forum_threads_path do %>
            <p><%= icon "check" %> <%= t('.answered') %></p>
          <% end %>
        </div>
        <div class="menu-items">
          <%= forum_link_to simple_discussion.unanswered_forum_threads_path do %>
            <p><%= icon "question" %> <%= t('.unanswered') %></p>
          <% end %>
        </div>
      </div>

      <hr class="hr-side-menu"/>

      <div class="forum-thread-filters">
        <h6>
          <strong>
            <%= t('.by_category') %>
          </strong>
        </h6>

        <div class="menu-items2"><%= forum_link_to simple_discussion.forum_threads_path, exact: true do %><%= icon "circle" %> <span class="category">All</span><% end %></div>
        <% ForumCategory.sorted.each do |category| %>
          <div class="menu-items3">
            <%= forum_link_to simple_discussion.forum_category_forum_threads_path(category) do %>
              <%= icon "circle", style: "color: #{category.color}" %>
              <span class="category"><%= category.name%></span>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @forum_thread.present? && @forum_thread.persisted? %>
        <hr class="hr-side-menu"/>

        <%# User has not posted in the thread or subscribed %>
        <h5><%= t('.notifications') %></h5>

        <%= link_to simple_discussion.forum_thread_notifications_path(@forum_thread), method: :post, class: "btn btn-secondary btn-sm btn-block mb-2" do %>
          <% if @forum_thread.subscribed? current_user %>
            <%= icon "bell-slash" %> Unsubscribe
          <% else %>
            <%= icon "bell" %>
            <%= t('.suscribe') %>
          <% end %>
        <% end %>

        <small><%= @forum_thread.subscribed_reason(current_user) %></small>
      <% end %>
    </div>

  </div>

  <div class="col-md-9 mb-3">

    <div class="card card-body">
      <%= yield %>
    </div>

  </div>
</div>

<% parent_layout("application") %>
